<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  
</head>
<body>
  
  <h1> <%= title %> </h1>
  
  <!-- SUBMIT FORM -->
  <script type = "text/javascript">
  function popup(){
    alert ("one metric sent to vidi")
  }  
  </script>    
  <form>
    enter your data here:<input type = "text" id ="data" /><br/>
    <input type = "button" value = "done" onclick =" popup();"/>
  </form>  
  
  
</body>
</html>
