<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="semantic/dist/semantic.min.js"></script>  
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
  body        { padding-top:80px; }
  
  </style>
</head>
<body>
  <% include templates/header.ejs %>
  <h1> <%= title %> </h1>
  
  
  <!-- SUBMIT FORM -->
  
  <h3><span class="fa submit"></span> Submit data here </h3>
  <form action="/data" method="POST">
    <div class="form-group">
      <label>please, enter your data as a json object here</label>
      
      <textarea rows="10" cols="20" id="data" name="query" class="form-control"
      placeholder=
         "{name:'process.heap.used',values:{value:'239'},tags:{pid: '123456',tag: 'some-tag'}}"
            ></textarea> <br/>
            <input type = "submit" value = "done"/>
          </div>
          
    
  </form>
  
</body>
</html>
